.App {
  .sidebar {
    width: 20%;
    height: 100vh;
    background-color: #191d2b;
    position: fixed;
    border-right: 1px solid #2e344e;
  }

  .main-content {
    width: 80%;
    margin-left: 20%;
    background-color: #10121b;
    min-height: 100vh;
    background-image: url(../img/shineBg.jpeg);
    background-position: center;
    // background-repeat: no-repeat;
    // background-size: 100%;
    display: grid;
    position: relative;
    .content {
      margin: 5rem 6rem;
    }
  }
}
