.portfolio-data{
    .portfolio-title{
        margin-bottom: 5rem;
    }

}

.portfolios{
    display: grid;
    grid-template-columns: repeat((3, 1fr));
    row-gap: 2.5rem;
    column-gap: 1rem;
    .portfolio{
        .image-data{
            position: relative;
            &::before{
                content: "";
                position: absolute;
                height: 97%;
                width: 100%;
                background-color: grey;
                transform-origin: left bottom;
                transform: scale(0);
                transition: all .4s ease-in-out;
            }
            &:hover::before{
                transform: scale(1);
                opacity: 0.9;
            }
            img{
                width: 100%;
                height: 30vh;
                object-fit: cover;
                border-radius: 0.5rem;
            }

            .hover-items{
                list-style-type: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform-origin: top;
                transform: translate(-50%, -50%);
                padding: 1rem 2rem;
                visibility: hidden;
                img{
                    width: 2.5rem;
                    height: 2.5rem;
                }
                .icons a:not(:last-child){
                    margin-right: 2.5rem;
                }

            }
            &:hover{
                .hover-items{
                    visibility: visible;
                    transition: all .4s ease-in-out .4s;
                    .icons a:first-child{
                        &::after{
                            content: "Preview";
                            visibility: hidden;
                            position: absolute;
                            font-size: 1rem;
                            color: #fff;
                            bottom: 10%;
                            right: 60%;
                        }
                        &:hover::after{
                            visibility: visible;
                        }
                    }
                    .icons a:last-child{
                        &::after{
                            content: "Github";
                            visibility: hidden;
                            position: absolute;
                            font-size: 1rem;
                            color: #fff;
                            bottom: 10%;
                            left: 60%;
                        }
                        &:hover::after{
                            visibility: visible;
                        }
                    }
                }

            }
        }

        h5 a{
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: 400;
            color: #fff;
            transition: all .3s ease-in-out;
            &:hover{
                color: #037FFF;
                cursor: pointer;
            }

        }

    }
}

.btn-portfolio{
    padding: .6rem 2rem;
    border-radius: 0.5rem;
    color: #fff;
    background-color: #0381ff73;
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 2rem;
    transition: all .4s ease-in-out;
    &:not(:last-child){
        margin-right: 1rem;
    }
    &:hover{
        background-color: #037FFF;
    }
    &:active {
        background-color: #037FFF;
    }

    &:focus{
        background-color: #037FFF;
    }


}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0rem;
    flex-wrap: wrap;
}