.Services {
  .service {
    margin-top: 4rem;
    width: 100%;
    background-color: #191d2b;
    border: 1px solid #2e344e;
    border-top: 8px solid #2e344e;
    transition: all 0.4s ease-in-out;
    &:hover {
      border-top: 8px solid #037fff;
    }
    .service-content {
      padding: 1rem 2rem;
      .s-title {
        font-size: 1.2rem;
        font-weight: 500;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 1rem;
        margin: 1rem 0;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 40%;
          height: 0.2rem;
          background-color: #2e344e;
        }
      }
    }
    .s-img {
      width: 50%;
    }

    .s-text {
      padding-top: 0.4rem;
    }
  }
}
