.Services {
  width: 50%;

  @media screen  and (max-width: 1000px) {
    width: 100%;

}
  .service {
    margin-top: 4rem;
    width: 95%;
    height: 30rem;
    background-color: #191d2b;
    border: 1px solid #2e344e;
    border-top: 8px solid #2e344e;
    transition: all 0.4s ease-in-out;
    &:hover {
      border-top: 8px solid #037fff;
    }
    @media screen  and (max-width: 1000px) {
        margin-top: 3rem;
      &:not(:last-child) {
        margin-bottom: 2rem;
      }

    }
    .service-content {
      padding: 1rem 2rem;
      .s-title {
        font-size: 1rem;
        font-weight: 500;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 1rem;
        margin: 1rem 0;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 40%;
          height: 0.2rem;
          background-color: #2e344e;
        }
      }
    }
    .s-img {
      width: 30%;
      height: 100%;
    }
    .s-text {
      padding-top: 0.2rem;
      font-size: 1rem;
    }
    @media screen  and (max-width: 1000px) {
      .s-img {
        width: 18%;
      }
      .s-text {
        font-size: 1.2rem;
      }
    }

    @media screen  and (max-width: 768px) {
      .s-img {
        width: 18%;
      }
      .s-text {
        font-size: 1rem;
      }
    }
  }
}
